.optimize-route-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}
.button-container {
  padding: 5rem 2rem 5rem 2rem;
  margin: auto 0;
}

.optimize-route-button:hover {
  background-color: #45a049;
}